@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
    
}

@media screen and (min-width: 601px) {
    .projects-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .details-container {
      width: 100%;
    }
  }
  

@media screen and (min-width: 1200px) {
    .projects-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .details-container {
      width: 100%;
    }
  }
  


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #experience,.experience-details-container {
        margin-top: 2rem;

    }
    #profile,.section-container {
        display: block;
    }
    .arrow{
        display: none;
    }
    section,.section-container{
        height: fit-content;
    }
    section{
        
        margin: 0 5%;
        
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top:0;
    }
}

@media screen and (max-width: 600px) {
    #contact,footer{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }

    article{
        font-size: 1rem;
        
    }
    

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,.contact-info-upper-container,.btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {

        margin: 0;
    }

    .contact-info-container p,.nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {

        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .logo {
        font-size: 1.5rem;
    }
    .nav_links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container{
        width: auto;
        height:46vw;
        justify-content: center;
        margin-top: 2rem;
    }

    .section_text_p2 {
        font-size:1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }

    .logo-container{
        height: 2.6rem;
    }
    .hamburger-icon{
        height: 0.8rem;
    }
    .title{
        font-size: x-large;
    }
    .section_text_p2{
        font-size: large;
    }
    .section_text_p1 {
        font-size: small;
    }
    
    .description{
        margin-top: 0.5rem;
    }
    
    .about-container{
        
        display: flex;
        flex-wrap: wrap;

        
    }

    .contact-info-upper-container {

        margin-top: 5rem;
        
    }

    .nav-links-container {

        margin-top: 4rem;
    }
    
       
    }
    
